[submodule "libs/variant"]
	path = libs/variant
	url = https://github.com/mapbox/variant.git
[submodule "libs/Optional"]
	path = libs/Optional
	url = https://github.com/akrzemi1/Optional.git
[submodule "libs/tinyobjloader"]
	path = libs/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "libs/fixed_size_function"]
	path = libs/fixed_size_function
	url = https://github.com/pmed/fixed_size_function.git
